.tela-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    min-height: 100vh;
}

.cabecalho {
    color: black;
    padding: 1.5rem;
    text-align: right;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 8rem;
}

.tabela-wrapper {
    background: linear-gradient(131deg, #3b0353 0%, #380072 50%, #620a8c 100%);
    padding: 4rem 4rem 4rem 4rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem 0.5rem 2rem 0.5rem;
}

.titulo-tabela {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: white;
    float: left;
    font-weight: 600;
}

.tabela-tarefas td {
    font-size: 0.9rem;
    color: white;
    font-weight: 600;
    padding: 0.75rem;
    border-bottom: 1px solid #dee2e6;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.tabela-tarefas td:nth-child(1),
.tabela-tarefas td:nth-child(2),
.tabela-tarefas td:nth-child(5) {
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.tabela-tarefas {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.tabela-tarefas th {
    background-color: #502785;
    color: #fff;
    font-weight: 600;
    padding: 0.4rem;
    border: none;
    border-right: 1px solid #0000003b;
    border-radius: 7px;
}

.tabela-tarefas tr:hover {
    background-color: #c2c2c2;
    cursor: pointer;
}

.btn-wrapper {
    text-align: right;
    flex-grow: 1;
}

.div-btb-criar-tarefa {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.tabela-header {
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
}

.btn-adicionar-tarefa {
    background-color: #fff;
    color: black;
    padding: 0.4rem 1.4rem 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out, transform 0.1s;
    float: right;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn-adicionar-tarefa:hover {
    background-color: #f2f2f2;
    transform: translateY(-1px);
}

.logo-keevo {
    width: 21rem;
    float: left;
}

.w-45 {
    width: 48%;
}

@media (max-width: 768px) {
    .tabela-tarefas thead {
        display: none;
    }

    .tabela-tarefas,
    .tabela-tarefas tbody,
    .tabela-tarefas tr,
    .tabela-tarefas td {
        display: block;
        width: 100%;
    }

    .tabela-tarefas tr {
        margin-bottom: 1rem;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        padding: 1rem;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    }

    .tabela-tarefas td {
        padding: 0.5rem;
        border: none;
        text-align: left;
        position: relative;
        font-size: 16px;
    }

    .tabela-tarefas td::before {
        content: attr(data-label);
        font-weight: bold;
        display: block;
        margin-bottom: 0.25rem;
        color: #aaa9a9;
        font-size: 0.85rem;
    }

    .btn-adicionar-tarefa {
        width: 100%;
        margin-top: 11px;
    }

    .tabela-wrapper {
        background: linear-gradient(131deg, #3b0353 0%, #380072 50%, #620a8c 100%);
    }
}